@media screen and (max-width: 1024px) {
    .find-class-one ul li {
        padding: 15px 20px;
    }

    .custom ul {
        display: inline-block;
        justify-content: left;
    }

    .find-class-one.custom ul li {
        float: none;
    }

    .my-classes {
        padding-bottom: 20px;
    }

    .outer-sec .figure {
        width: 100%;
    }

    .outer-sec .figcaption {
        width: 100%;
    }

    .outer-sec .figure:after {
        top: 50%;
    }

    .active-heading {
        margin-bottom: 30px;
    }

    .msg .video-sec {
        display: block;
    }

    .msg .video-sec span img {
        margin-bottom: 20px;
    }
    .msg .video-sec span {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .about .figcaption h3:after {
        display: none;
    }
    .Coming-soon .figure img {
        width: 100%;
    }
    .header_area.light-header .navbar-brand img {
        width: 63px;
        top: 6px;
    }

    .banner {
        margin-top: 45px;
        padding: 100px 0;
    }

    .header_area .form-inline {
        margin-right: 0;
        justify-content: center;
    }

    .nav-item {
        padding: 3px;
    }

    .navbar-nav .nav-link {
        padding: 0;
        display: inline-block;
        font-size: 14px;
    }

    .navbar-nav {
        padding-top: 10px;
    }

    .nav-link.btn.btn-head {
        padding: 5px 25px !important;
        margin-top: 6px;margin-bottom: 6px;
    }

    .banner h1 {
        margin-bottom: 10px;
    }

    .banner .figcaption {
        text-align: center;
    }

    .banner p {
        margin-bottom: 10px;
    }

    a {
        font-size: 13px !important;
    }
    p {
        font-size: 13px !important;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 24px !important;
    }

    ul li {
        font-size: 13px !important;
    }

    .testimonial {
        margin-top: -60px;
       
    }

    

    .testi-bg .left img {
        width: 70%;
    }

    .testi-bg .left strong {
        font-size: 12px;
    }

    .testi-bg .left p {
        margin-bottom: 2px;
    }

    .testi-bg .right:before {
        width: 50px;
        height: 50px;
    }

    .heading h2 {
        margin-bottom: 25px;
    }

    .find-class-one ul li {
        padding: 8px 20px;
    }

    .price_item h5 {
        font-size: 14px !important;
        margin-bottom: 10px;
    }

    .price_item .figcaption strong {
        font-size: 13px;
        margin-bottom: 5px;
        display: block;
    }

    .price_item .figcaption span {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .price_item {
        margin-bottom: 20px;
    }

    .price_item .figure:after {
        top: 50%;

        width: 40px;
        height: 50px;
    }

    .how-work {
        margin: 30px 0;
    }

    .how-work .figcaption {
        margin: 10px 0 30px 0;
    }

    .about .figcaption {
        padding: 15px 0 0 0;
    }

    .about .figcaption h3 {
        margin-bottom: 10px;
    }

    .about .row {
        margin-bottom: 30px;
    }

    .about .row:nth-child(even) {
        direction: ltr;
        text-align: left;
    }

    .sec_pad {
        padding: 30px 0px;
    }

    .plans.bg-blue .choose-plan {
        margin-top: 10px;
    }

    .choose-plan span {
        font-size: 13px;

        margin-bottom: 5px;
        padding-left: 0;
        margin-top: 5px;
    }

    .choose-plan strong {
        font-size: 14px;
    }

    .choose-plan strong:after {
        top: 30px;
    }

    .question .ask-sec .card-body {
        font-size: 13px;
    }

    .question .ask-sec {
        margin-top: 0;
    }

    .Coming-soon .figcaption h3 {
        margin-bottom: 20px;
    }

    .social-icon {
        text-align: center;
        margin-bottom: 15px;
    }

    .Social-link ul {
        justify-content: center;
        display: flex;
    }

    .footer_area {
        padding: 20px 0 10px;
    }

    .footer_top {
        padding-bottom: 30px;
    }

    .footer_bottom p {
        font-size: 12px !important;
        margin-top: 10px;
    }

    .footer_bottom p a {
        font-size: 12px !important;
    }

    .login-form {
        padding: 0 0;
    }

    .outer-sec .figcaption span {
        font-size: 13px;
    }

    .for-find-class .outer-sec .buttons {
        display: block;

        width: 19%;
        padding: 40px 0;
    }

    .for-find-class .outer-sec .buttons .signup {
        margin-left: 0;
    }

    .for-find-class .outer-sec .figure {
        width: 22%;
    }

    .for-find-class .outer-sec .figure:after {
        top: 36%;
    }

    .outer-sec .figcaption {
        width: 80%;
    }
    .outer-sec .figure {
        width: 19%;
    }

    .outer-sec .figure:after {
        top: 40%;
    }

    .video-sec.teacher-about {
        margin-bottom: 20px;
    }

    .login-form.teacher-about textarea {
        height: 100px;
    }

    .msg-box {
        padding-bottom: 20px;
    }
    .msg-box.find-class.sec_pad {
        padding-top: 90px;
    }

    .msg-box.find-class.sec_pad .find-class-right{margin-top: 30px;}
    .msg-box.find-class.sec_pad .heading h2{text-align: center;}
    .msg .video-sec iframe {
        width: 100%;

        margin-right: 0;
        margin-bottom: 20px;
    }

    .msg .text-sec span {
        font-size: 14px;
    }
    .login {
       
        padding-top: 90px !important;
    }
    .login.join-teacher {
        padding-top: 30px !important;
    }

    .join-teacher-top {
       
        padding-top: 90px;
    }
}

@media screen and (max-width: 767px) {

    .join-teacher-top {
       
        padding-top: 90px;}

    .for-find-class .outer-sec .buttons {
        width: 24%;
    }

    .find-class-one.custom ul li {
        display: block !important;
    }

    .custom .form-control {
        margin: 0 0 10px 0;
    }

    .custom form {
        display: block !important;
    }

    .outer-sec .figcaption {
        width: 70%;
    }

    .outer-sec .figure {
        width: 28%;
    }

    .login-form .form-control {
        margin-bottom: 10px;
    }

    .msg .video-sec {
        padding: 0;
    }

    .msg .text-sec ul {
        margin-top: 10px;
    }
}

@media screen and (max-width: 568px) {
    .header_area .form-inline .form-control {
        width: 50%;
    }

    .banner {
        margin-top: 45px;
        padding: 40px 0;
    }
    .testimonial {
        margin-top: -20px;
    }

    .find-class-one ul {
        display: inline-block;
    }

    .my-classes.for-find-class .container-fluid {
        padding: 0 20px;
    }

    .outer-sec {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .active-heading ul li {
        padding: 10px 20px;
    }

    .my-classes .container-fluid {
        padding: 0 20px;
    }
}

@media screen and (max-width: 480px) {
    .testi-bg .right p img {
        width: 10%;
    }

    .find-class-one ul li {
        padding: 8px 10px;
    }

    .Social-link ul li {
        float: left;
        padding: 10px 10px;
    }

    .header_area .form-inline .form-control {
        width: 65%;
        margin-left: 35px;
    }

    .testi-bg .left img {
        width: 100%;
    }

    .header_area .form-inline {
        margin-top: 0;
    }

    .header_area.light-header .form-inline {
        margin-top: 5px;
    }

    .testi-bg .right:before {
        width: 40px;
        height: 40px;
        top: -10px;
        right: -10px;
    }

    .for-find-class .outer-sec .figure {
        width: 100%;
    }

    .outer-sec img {
        height: auto;
        border-radius: 25px;
    }

    .for-find-class .outer-sec .buttons {
        width: 41%;
    }

    .for-find-class .outer-sec .figcaption {
        width: 57%;
    }

    .for-find-class .outer-sec .figure:after {
        top: 50%;
    }

    .outer-sec .figure {
        width: 100%;
    }

    .outer-sec .figcaption {
        width: 100%;
    }

    .outer-sec .figcaption strong {
        font-size: 14px;
    }

    .outer-sec {
        margin-bottom: 20px !important;
    }

    .rcm-class .container-fluid {
        padding: 0 20px !important;
    }

    .msg {
        border-radius: 30px;

        padding: 15px 10px;
    }
}

@media screen and (max-width: 390px) {
    .header_area.light-header .navbar-brand img {
        width: 50px;
        top: 15px;
    }

    .header_area .form-inline .form-control {
        width: 64%;
        margin-left: 59px;
    }

    .header_area .form-inline {
        margin-top: 0;
    }

    .header_area.light-header .form-inline {
        margin-top: 10px;
    }

    .msg-type .form-control.memail {
        padding-left: 18px;

        font-size: 11px;
    }
}
